body{
    width:100vw;
    height: 100vh;
    margin:0;

  
}

.aboutUsConainer{
    width:100%;
    height: 100%;
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    
}

.section1{
    display: grid;
    grid-template-rows: 12vw 16vw 8vw 3vw;
    grid-template-columns: 127vh 2vh 104vh 15vh;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-color: rgb(255, 255, 255);

}


#landingPageAboutUsTitle{
    grid-row-start: 2;
    position: relative;
    left:100px;
    display: flex;
    width: 622px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    height: 408px;
   
    font-family: "century gothic";
    color: rgb(0, 0, 0);
}

.AboutRED{
    font-weight: lighter;
    font-size: 70px;
    color:#fa4141fe;
    height: 70px;
}

.AboutBLUE{
    font-size: 120px;
    font-weight: lighter;
    color:#3c91ecfe;
    height: 70px;
}

.AboutYELLOW{
    font-weight: lighter;
    font-size: 70px;
    color:#ffe951fe;
    height: 70px;
   
}

#aboutUstext3{
    -webkit-box-reflect:below -45px linear-gradient(transparent,#ffe951fe);
    line-height:0px;
    outline:none;
}

.CARDabout{
    position: relative;
    top:-50px;
    width:400px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:linear-gradient(45deg,#fffffffe,#d7d7d7fe,#fffffffe);
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);
}

#CARDaboutTitle{
position: absolute;
margin:25px;

 font-family: "century gothic";
 font-size:35px;
 font-weight: light;
 color:rgb(0, 0, 0);
}

.your-element{
    grid-row-start: 2;
    grid-column-start: 3;

}
.CARDabout p{
    position: absolute;
    font-family: "century gothic";
    margin:25px;
    top:50px;

    font-size:15px;
    font-weight: light;
    color:rgb(0, 0, 0);
    z-index: 0;
}

#logoaboutUS{
    grid-row-start: 1;
    margin-left:100px;
    margin-top:60px;
    padding: 5px 5px;
    width:200px;
    height: 50px;
    
}

#WhoWeAre{
    width:505px;
    z-index: 0;
}














.section2{
    display: grid;
    grid-template-rows: 18vw 16vw 8vw 3vw;
    grid-template-columns: 124vh 121vh;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-color: rgb(5, 5, 5);

}



#landingPageAboutUsTitle2{
    top:50px;
    grid-row-start: 1;
    position: relative;
    left:100px;
    display: flex;
    width: 622px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    height: 106px;
   
    font-family: "century gothic";
    color: white;
}

.AboutBLUE1{
    font-size: 80px;
    font-weight: lighter;
    color:#3c91ecfe;
    height: 70px;
}

.CARDaboutUSdeets{

    width:600px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:rgb(22, 22, 22);
    border-top: 1px solid #fa4141fe;
    backdrop-filter: blur(30px);
    opacity: 90%;
}

#JAYDENdeets{
    border-left: 1px solid#3c91ecfe;
}

#LLOYDdeets{
    border-left: 1px solid#ffe951fe;
}


.DeetsContainer{
    display: flex;
    justify-content: space-evenly;
    width:100vw;
    height: 400px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.PICSIZE{
    position: absolute;
   width: 150px;
   height: 150px;
   margin:30px;

}

.NameTagAboutUsCard1{

    position: absolute;
    font-family: "century gothic";
    font-size: 30px;
    color: white;
    top: 64px;
    left: 210px;
}

.NameTagAboutUsCard2{
    position: absolute;
    font-family: "century gothic";
    font-size: 14px;
    color: white;
    top: 101px;
    left: 210px;
}


.ExtraDeetsAboutUS p{
    position: absolute;
    font-family: "century gothic";
    font-size: 14px;
    color: white;
    top: 193px;
    left: 30px;
    width:548px;
}

